header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../images/jf9xlr30.png");
  overflow: cover;
  transform: translateY();
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1e1e1e;
}

.bg-off-white {
  background-color: #f5f5f5;
}
.fs-18px {
  font-size: 18px;
}
.w-65 {
  width: 65%;
}

.w-70 {
  width: 70%;
}
.h-12px {
  height: 12px;
}

.title {
  font-size: 48px;
  font-weight: 700;
  color: #1e1e1e;
  margin-top: 100px;
  position: relative;
}
.underline {
  height: 5px;
  width: 40px;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 50px;
  transition: 0.4s;
}

#services .row > div:hover .icon {
  border-color: #cde1f8 !important;
  background-color: rgb(13, 110, 253);
  color: white;
  transition: 0.5s;
}

#counters {
  background-image: linear-gradient(
      rgb(13, 110, 253, 0.6),
      rgb(13, 110, 253, 0.6)
    ),
    url(../images/0rthhjko.png);
  background-attachment: fixed;
  padding: 100px;
}

.counter .icon {
  width: 25px;
  height: 25px;
  padding: 30px;
}

.fs-13 {
  font-size: 13px;
}

nav {
  background-color: rgba(0, 0, 0, 0.9);
}

.shadow-b {
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

#portfolio .inner img {
  transition: transform 1s ease;
}

#portfolio .inner:hover img {
  transform: scale(1.3);
}

#testimonials,
#contact {
  background-image: linear-gradient(
      rgb(13, 110, 253, 0.75),
      rgb(13, 110, 253, 0.75)
    ),
    url("../images/overlay-bg.jpeg");
  background-attachment: fixed;
}

#testimonials > .container {
  padding-top: 120px;
  padding-bottom: 120px;
}

.w-12 {
  width: 12%;
}
.w-8 {
  width: 8%;
}
.fw-600 {
  font-weight: 600;
}

.fs-22 {
  font-size: 22px;
}

#testimonials button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dark-gray {
  color: #4e4e44;
}
.w-15 {
  width: 15%;
}

.card-body img {
  width: 32px;
  height: 32px;
}

#blog {
  margin-bottom: 100px;
}

#contact {
  padding-top: 100px;
  padding-bottom: 50px;
}

#contact .underline {
  width: 100px;
  height: 3px;
}

input::placeholder,
textarea::placeholder {
  font-size: 14px;
}

input {
  height: 40px;
}
textarea {
  height: 140px;
}

.fw-300 {
  font-weight: 300;
}

.social {
  border-width: 3px;
  border-style: solid;
  border-color: rgb(13, 110, 253);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  transition: 0.5s;
}

.social:hover {
  cursor: pointer;
  background-color: rgb(13, 110, 253);
  border-color: #cde1f8;
  color: white;
}
.contact-footer {
  background-color: #0062d3;
}

.blog-author:hover {
  color: rgb(13, 110, 253);
  cursor: pointer;
}
.blog-author:hover {
  transition: 0.5s;
}
